################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/Geo-DR/Consumer/EventhubConsumer/.vs/EventhubConsumer/v16
/Samples/Geo-DR/Consumer/EventhubConsumer/EventhubConsumer/obj
